@charset "utf-8";

#contents {padding:50px 0;}

/** 맞춤화(s) **/
.jumbotron {margin-bottom:0; padding:0;}
.jumbotron.key-visu {overflow:hidden;}
	.jumbotron.key-visu ul li {text-align:center;}

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
@media (min-width: 992px) {
	.jumbotron.key-visu ul li img {margin-top:-50px;}
}
@media (min-width: 1200px) {
	.jumbotron.key-visu {height:500px;}
	.jumbotron.key-visu ul li img {margin-top:-100px;}
}
/** 맞춤화(e) **/

.recent-work {margin-bottom:60px;}
	.recent-work h2 {margin-bottom:30px; font-size:1.6em; color:#666; font-weight:bold;}
	.recent-work .works img.work {position:relative;/*left:-80px; border:1px solid #ddd; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition:left 0.8s ease, opacity 0.8s ease; -moz-transition:left 0.8s ease, opacity 0.8s ease; -o-transition:left 0.8s ease, opacity 0.8s ease; -ms-transition:left 0.8s ease, opacity 0.8s ease; transition:left 0.8s ease, opacity 0.8s ease;*/}
	.recent-work .works img.slideToRight {left:0; opacity:1;}
	.recent-work .works ul {}
		.recent-work .works ul li {float:none; width:auto; margin:0; padding:5px 0 3px 5px; border-bottom:1px solid #ededed; font-size:0.7em; color:#747679; line-height:2em;}
		.recent-work .works ul li * {vertical-align:middle;}
		.recent-work .works ul li span.lh {display:inline-block; width:48px; height:18px; margin-right:5px; background-color:#bbb; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; border-radius:3px; font-size:0.7em; color:#fff; text-align:center; line-height:1.8em;}
		.recent-work .works ul li a {display:inline-block; width: 150px; line-height:1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
		.recent-work .works ul li a:hover {color:#6c9009;}

/** 맞춤화(s) **/
@media (max-width:768px){
	.recent-work .works .col-md-6:first-child {margin-bottom:20px;} 
	.recent-work .works .col-xs-12 {text-align:center;} 
	.recent-work .works ul {width:60%; margin:0 auto; text-align:left;} 
}
@media (min-width:768px) and (max-width:992px){
	.recent-work .works .col-md-6:first-child {margin-bottom:10px;} 
}
/** 맞춤화(e) **/

.my-ability {margin-bottom:60px; background-color:#d4ecfc; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:20px 0;}
	.my-ability .circle {width:200px; height:200px; margin:0 auto; padding-top:20px; background-color:#f5f5f5; border:1px solid #23bdc2; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; text-align:center;}
	.my-ability .circle .fa {margin-bottom:5px; color:#A8D4D8;}
	.my-ability .circle p {margin:0; font-family:'Oswald'; font-size:1.1em; color:#000; line-height:140%;}

/** 맞춤화(s) **/
@media (max-width:992px){
	.my-ability .col-sm-6:nth-child(1), .my-ability .col-sm-6:nth-child(2) {margin-bottom:20px;}
	.my-ability .col-xs-12 {margin-bottom:20px;}
	.my-ability .col-xs-12:last-child {margin-bottom:0px;}
}

/** 맞춤화(e) **/

.my-concern {margin-bottom:20px;}
	.my-concern h2 {margin-bottom:30px; font-size:1.6em; color:#4C9EFC; font-weight:bold;}
	.my-concern p {width:80%; margin-bottom:20px; font-family:"Nanum Gothic"; font-size:0.75em; color:#666; line-height:180%;}
	.my-concern em {font-size:2em; color:#4C9EFC; font-weight:bold; font-style:normal;}

.my-study {margin-bottom:0px;}
	.my-study h2 {margin-bottom:30px; font-size:1.6em; color:#F15B25; font-weight:bold;}
	.box-wrapper {clear:both; padding:20px 0; height:125px; position:relative;}
	.col-one {padding:10px 20px; background:#23bdc2; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; color:#fff; font-weight:bold; line-height:160%; text-align:center; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;} 
	.col-two {padding-top:10px; font-size:0.75em; line-height:160%;}

/** 맞춤화(s) **/
@media (max-width:768px){
	.my-study .col-xs-12:first-child {margin-bottom:20px;}
}
/** 맞춤화(e) **/
