@charset "utf-8";
h2 {margin-bottom:60px; font-size:1.6em; color:#000; font-weight:bold;}
h3 {display:inline-block; margin-bottom:40px; font-size:1.6em;}	

article.about-me {margin:35px 0 80px;}
	article.about-me img.bicycle {float:right; margin-top:-14px; padding:5px; border:1px solid #eee; border-radius:5px; }
	article.about-me p {font-size:0.85em; line-height:1.8em;}
	article.about-me span {display:inline-block; padding:3px 5px; border-radius:5px;}
	article.about-me span.red {background-color:#ff7373; font-size:1.4em; color:#fff; }
	article.about-me span.blue {padding:5px 7px; background-color:#3E94D2; font-size:1.6em; color:#fff; }
	article.about-me span.brown {background-color:#ff8B00; font-size:1.4em; color:#fff; }
	article.about-me span.maroon {background-color:#85144B; font-size:1.4em; color:#fff; }
	article.about-me span.green {background-color:#80E800; font-size:1.4em; color:#fff; }
	article.about-me ul.photo {margin-top:20px;}74
	article.about-me ul.photo li {float:left; margin-right:5px;}
	article.about-me ul.profile {margin-top:20px;}
	article.about-me ul.profile li {padding-left:5px; border-bottom:1px dotted #ddd; font-size:0.85em; line-height:2.2em;}

aside.rotatedtext {position:relative; height:800px; margin-top:-150px; margin-right:16%; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
	aside.rotatedtext h1 {font-family:'Anton', sans-serif; font-size:7em; line-height:75%; margin:0; font-weight:bold;}
	aside.rotatedtext h1.white {position:absolute;font-size:6.5em;color:#fff;}
	aside.rotatedtext h2 {font-family:'Anton', sans-serif; font-size:2em; clear:both; margin:0; padding:0; line-height:130%; }
	aside.rotatedtext h2 a {text-decoration:none; color:#666; border-bottom:1px solid #9cf;}
	aside.rotatedtext .name {-webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); position:absolute; left:115px; top:0px;}
	aside.rotatedtext .name h2 {margin-top:20px; color:#999;}
	aside.rotatedtext .role {-webkit-transform: rotate(0); -moz-transform:rotate(0); -ms-transform:rotate(0); transform:rotate(0); position:absolute; top:400px;}
	aside.rotatedtext .job {font-size:8em; color:#FF851B; margin-top:-20px;}
	aside.rotatedtext .job2 {font-size:5em; color:#39CCCC; text-align:center; margin-top:20px; }

/** 맞춤화(s) **/
@media (max-width:991px){
	aside.rotatedtext {display:none;}
}
@media (min-width:992px) and (max-width:1200px){
	aside.rotatedtext {-webkit-transform:scale(0.7); -webkit-transform:rotate(90deg);}
}
/** 맞춤화(e) **/

#myskill {padding:40px 0 30px; background-color:#0074D9; color:#fff;}
	#myskill h3 {display:block; margin-bottom:20px;}
	#myskill h4 {display:inline-block; padding:60px 20px 20px; font-size:1.2rem; border:4px solid #c9c9c9; border-top:none; border-radius:0 0 10px 10px}
	#myskill .my-skill {position:relative;}
	#myskill .skill-list.first {margin-left:350px;}
	#myskill .skill-list {margin-top:-88px;}
	#myskill .skill-list ul {margin:30px 0 0 10px;}
	#myskill .skill-list ul li {margin-bottom:10px;}
	#myskill .ico-send {position:absolute; left:0; top:50px; font-size:240px; opacity:0.5;}

/** 맞춤화(s) **/
@media (max-width:768px){
	#myskill h4 {display:block; margin-top:20px; padding:20px; border-top:4px solid #c9c9c9; border-radius:10px}
	#myskill .skill-list {margin-left:150px !important;}
	#myskill .skill-list:nth-child(2) {margin-top:0px;}
}
@media (max-width:992px){
	#myskill .ico-send {display:none;}
}
@media (min-width:769px) and (max-width:991px){
	#myskill .skill-list.first {margin-left:200px;}
}

#myhistory {padding:40px 0 30px; background-color:#2ECC40; color:#fff;}
	#myhistory h3 {display:block; margin-bottom:20px;}
	#myhistory .my-form {margin-top:30px;}
	#myhistory .years li {margin-bottom:10px;}
	#myhistory .years li:first-child {padding-left:15px;}
	#myhistory .years input[type='checkbox'] {position:absolute; left:-99999px;}
	#myhistory .years input[type='checkbox']+label {cursor:pointer;}
	#myhistory .years input[type='checkbox']+label .fa {margin-right:10px; font-size:18px; vertical-align:top;}
	#myhistory .works {margin-top:-30px;}
	#myhistory .works h4 {background-color:#1db62f; padding:15px 10px;}
	#myhistory .works > li > ul > li {padding:20px 10px 20px; border-bottom:1px dotted #fff; line-height:1.4em;}
	#myhistory .works > li > ul > li:last-child {border-bottom:none;}
	#myhistory .works .detail {padding:0 10px 0;}
	#myhistory .works .detail h5 {margin-bottom:20px; font-size:1.25rem;}
	#myhistory .works .detail ul li {margin-bottom:5px;}

/** 맞춤화(s) **/
@media (max-width:768px){
	#myhistory .works {margin-top:30px;}
}
