@charset "utf-8";
	h2 {margin-bottom:30px; font-size:1.6em; color:#000; font-weight:bold;}

	.page-crop { overflow: hidden; margin: -10px 0 0 -10px; padding: 10px 0 0 10px; }
	.easing-page .page-slider {-webkit-transform: translateX(-105%); -moz-transform: translateX(-105%); -o-transform: translateX(-105%); -ms-transform: translateX(-105%); transform: translateX(-105%);}
	.page-slider {-webkit-transition: all 600ms cubic-bezier(.77,0,.175,1); -moz-transition: all 600ms cubic-bezier(.77,0,.175,1); -o-transition: all 600ms cubic-bezier(.77,0,.175,1); -ms-transition: all 600ms cubic-bezier(.77,0,.175,1); transition: all 600ms cubic-bezier(.77,0,.175,1);}

	/*.works-list > div {position:relative; float:left; width:24%; margin-right:13px; margin-bottom:30px; border:1px solid #ddd; border-radius:10px; cursor:pointer; overflow:hidden;}*/
	.works-list [class*='col-'] {margin-bottom:30px; overflow:hidden;}
	.works-list .thumbnail {position:relative;}
	.works-list > div:nth-child(4n+4) {margin-right:0;}
	.works-list div img.work {width:100%; height:auto; border-radius:4px;}
	.works-list > div .caption {position:absolute; top:80%; left:0px; z-index:10; width:100%; height:20%; padding:20px 20px 0; background-color:#fff; border-radius:0 0 4px 4px; opacity:0.8; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
	.works-list > div .caption h3 {font-family:"Nanum Gothic"; font-size:1.2em; color:#000; font-weight:bold; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
	.works-list > div .caption ul {display:none;}
	.works-list > div:hover .caption {top:0px; height:100%; padding:40px 20px 0; background-color:#23bdc2; border-radius:4px; opacity:0.9;}
	.works-list > div:hover .caption a {display:block; padding:20px 20px 10px;}
	.works-list > div:hover .caption h3 {height:120px; font-size:1.8em; color:#000;}
	.works-list > div:hover .caption ul {display:block;}
	.works-list > div:hover .caption ul li {float:none; margin-bottom:5px; font-size:1.2em; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}

	@media (max-width:360px){
		.works-list > div .caption {padding-top:12px;}
		.works-list > div .caption h3 {font-size:0.85em;}
		.works-list > div:hover .caption {padding:15px 0 0;}
		.works-list > div:hover .caption h3 {height:80px; font-size:1.1em; color:#000;}
		.works-list > div:hover .caption ul li {float:none; margin-bottom:5px; font-size:1em; color:#fff;}
	}
	@media (min-width:361px) and (max-width:480px){
		.works-list > div .caption {padding-top:20px;}
		.works-list > div .caption h3 {font-size:1em;}
		.works-list > div:hover .caption {padding:25px 0 0;}
		.works-list > div:hover .caption h3 {height:90px; font-size:1.3em; color:#000;}
		.works-list > div:hover .caption ul li {float:none; margin-bottom:5px; font-size:1em; color:#fff;}
	}
	@media (min-width:768px){
		.works-list .thumbnail {height:278px;}
		.works-list > div .caption {padding-top:20px;}
		.works-list > div .caption h3 {font-size:1em;}
		.works-list > div:hover .caption {padding:25px 0 0;}
		.works-list > div:hover .caption h3 {height:100px; font-size:1.3em; color:#000;}
		.works-list > div:hover .caption ul li {float:none; margin-bottom:5px; font-size:1em; color:#fff;}
	}
	@media (min-width:992px){
		.works-list .thumbnail {height:172px;}
		.works-list > div .caption {padding-top:10px;}
		.works-list > div .caption h3 {font-size:0.8em;}
		.works-list > div:hover .caption {padding-top:0px;}
		.works-list > div:hover .caption h3 {height:60px; font-size:1em; color:#000;}
		.works-list > div:hover .caption ul li {float:none; margin-bottom:0px; font-size:0.85em; color:#fff;}
	}

	@media (min-width:1200px){
		.works-list .thumbnail {height:212px;}
		.works-list > div .caption {padding-top:15px;}
		.works-list > div .caption h3 {font-size:0.85em;}
		.works-list > div:hover .caption {padding-top:5px;}
		.works-list > div:hover .caption h3 {height:80px; font-size:1.12em; color:#000;}
		.works-list > div:hover .caption ul li {float:none; margin-bottom:5px; font-size:0.85em; color:#fff;}
	}

	article.work-desc {display:none; position:absolute; left:105%; top:0; width:100%; height:auto; min-height:160px; padding:80px 30px 50px;; background:#fff; border-radius:10px;}	
		article.work-desc .back {position:relative; z-index:30; float:right; margin:-40px 30px 0 0; display:inline-block; font-size:0.85em;}
		article.work-desc .back * {vertical-align:middle;}
		article.work-desc .back .fa {margin:-3px 2px 0 0;}

		article.work-desc .work-view {position:relative; margin-top:-30px;}
		.work-view .loading {padding:30px 0; font-size:1.4em; text-align:center;}
		.work-view h1 {margin-bottom:50px; padding-bottom:20px; border-bottom:1px solid #eee; font-size:1.6em;}
		.work-view .responsive-img {padding:15px; border:1px solid #eee;}
		.work-view .desc-list {width:260px; margin-top:10px;}
		.work-view .desc-list li {margin-bottom:10px; font-size:0.8em;}
		.work-view .desc-list li * {vertical-align:middle;}
		.work-view .desc-list li span {display:inline-block; width:40px; margin-right:5px; background-color:#cacaca; font-size:0.65em; color:#fff; text-align:center; border-radius:3px;}
		.work-view .desc-list li a {display:inline-block; width:210px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

	@media (max-width:320px){
		.work-view .desc-list li a {width:140px;}
	}
	@media (max-width:480px){
		article.work-desc {padding:80px 15px 30px;}
		article.work-desc .back {margin:-60px 0 0 0;}
		article.work-desc .back .fa {font-size:2em;}
		.work-view h1 {margin-bottom:50px; padding-bottom:20px; border-bottom:1px solid #eee; font-size:1.2em;}
		.work-view .desc-list li a {width:180px;}
	}
	@media (max-width:992px){
		.work-view .desc-list {width:100%; margin-top:30px; padding-left:10px;}
	}
