@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

html {
	font-family: 'Pretendard', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;    
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

body.before-load {
	/* overflow: hidden; */
}
.container {
    height:100%;
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}

.sticky-elem {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}

.sticky-elem-canvas {
    top: 0;
    height: 100%;
}

.sticky-elem-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

.scroll-section {
	position: relative;
	padding-top: 50vh;
}

.scroll-section h1 {
    position: relative;
    z-index: 5;
    font-size: 6rem;
    text-align: center;
}

.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
	top:35vh;
	height: 3em;
	font-size: 4rem;
	opacity: 0;
}
.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.container .header {
	position:fixed;
	left:0;
	top:0;
	z-index:10;
	width:100%;
	height:76px;
	padding:0 52px;
	background:rgba(255,255,255,.1);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
}

.container .header .title_area {
	display:flex;
	height:76px;
	align-items:center;
	font-size:38px;
	font-weight:bold;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
	will-change: transform, opacity;
}

#show-scene-0 .container .header,
#show-scene-2 .container .header
{background: transparent;}
#show-scene-0 #scroll-section-0 .sticky-elem-canvas {opacity:0; z-index:10}
#show-scene-0 #scroll-section-0 .sticky-elem-canvas > img {max-width:none; height:100%}
#show-scene-0 #scroll-section-0 .sticky-elem {display:flex; align-items:center; justify-content:center}
#show-scene-0 #scroll-section-0 .sticky-elem.bg-main {position:fixed; top:0; width:100%; height:100%; background:#000;}
#show-scene-0 #scroll-section-0 .sticky-elem.main-message {z-index:20;}
#show-scene-0 #scroll-section-0 .sticky-elem.main-message.a {opacity:0; transform:translateY(50px); transition:all .7s;}
#show-scene-0 #scroll-section-0 .sticky-elem.main-message.a.show {opacity:1; transform:translateY(0)}
#show-scene-1 #scroll-section-1 .main-message.a {opacity:1}

#scroll-section-1 {padding-top:0;}
#scroll-section-1 .content {height:100% ;
	background-image:url(..//images/img_night_03.jpg);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;}
#scroll-section-1 .main-message { height:100vh; flex-direction:column; opacity:1}
#scroll-section-1 .main-message > p {margin:2rem 0;}
#scroll-section-1 .bg-main {width:100%; height:100vh; background:#000;}

#scroll-section-2 {padding: 27vh 0;	z-index: 2;	background-color: #393d4c;}
#scroll-section-2 .main-message {height:2em; color:#5c6278; opacity:1}
#scroll-section-2 .sticky-elem.main-message.a {top:27vh}
#scroll-section-2 .sticky-elem.main-message.b {top:41.3vh}
#scroll-section-2 .sticky-elem.main-message.c {top:55.5vh}
#scroll-section-2 .sticky-elem.main-message.d {top:69.9vh}

@media (min-width: 1024px){


}